@model MeditateBook.Models.ArticleViewModel
@{
    ViewBag.Title = MeditateBook.Resources.Views.Shared._Layout.Articles;
}

<div class="row">
    <h2>@Html.Raw(Model.Article.Title) (@Html.Raw(Model.Article.CreatedDate.ToShortDateString()))</h2>

   @Html.Raw(Model.Article.Content)
</div>