
@{
    ViewBag.Title = "Ajouter un Article";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Votre Article a bien été soumis.</h1>
        @Html.ActionLink("Retour à la page d'accueil", "Index", "Home")
    </div>
    <div class="col-md-2">
        <!--<section id="socialLoginForm">
            @*Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section> -->
    </div>
</div>



